footer{
    background: #000;
    color: $primaryColor;
}

footer p{
    @include modalFont(15);
}

footer ul{
    width: 300px;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

footer a{
    color: $accentColor;
    font-size: 2rem;
}