.wrapper {
  max-width: 40%; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#modal_dialog {
  width: 50%;
  background-color: aquamarine;
  border: 10px solid black;
  text-align: center;
  padding: 25px; }
